// Начните писать стили здесь
:root {
  /*Фон*/
  --basic-body: #e5e5e5;
  --basic-grey: #f2f2f2;
  --basic-grey-whisper: #eaeaea;
  --basic-index-green: #64a83b;
  /*Шрифт*/
  --basic-font-white: #ffffff;
  --basic-black: #000000;
  --basic-dark-grey: #444444;
  --basic-light-black: #111111;
  --basic-catalog-title: #222222;
  /*Кнопки*/
  --basic-green-button: #68b738;
  --basic-button-hover: #5eaa2f;
  /*Элементы*/
  --basic-border-gainsboro: #d9d9d9;
  --basic-border-light-grey: #cdcdcd;
  --basic-border-catalog: #ebebeb;
  --basic-border-comment: #e7e7e7;
  --basic-border-error: #ff8282;
  --basic-plus: #d3d3d3;
  --basic-box-hover: #bababa;
  --basic-whisper: #e6e6e6;
  --basic-spesial-grey: #666666;
}
