// Начните писать стили здесь
.example {
  display: flex;
  flex-direction: column;
  background-color: var(--basic-grey-whisper);
  position: relative;

  @media (min-width: @tablet-width) {
    background-color: var(--basic-font-white);
    border-top: 1px solid var(--basic-whisper);
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    border: none;
  }

  .container-wrapper {
    display: flex;
    flex-direction: column;
    width: @mobile-width;

    @media (min-width: @tablet-width) {
      width: @tablet-width--wrapper;
    }

    @media (min-width: @desktop-width) {
      flex-direction: row;
      width: @desktop-width--wrapper;
    }
  }
}

.example::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    width: 100%;
    height: 462px;
    background-color: var(--basic-grey-whisper);
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    width: 100%;
    height: 487px;
    background-color: var(--basic-grey-whisper);
    top: 136px;
    left: 0;
    z-index: 0;
  }
}

.example__description--container,
.example__slider--container {
  display: flex;
  flex-direction: column;
}

.example__description--container {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 46%;
  }
}

.example__slider--container {
  @media (min-width: @desktop-width) {
    width: 54%;
  }
}

.example__title {
  .main-text(36px; 40px);
  margin-top: 27px;
  margin-bottom: 35px;
  z-index: 10;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    .main-text(60px; 60px);
    margin-top: 43px;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-bottom: 146px;
  }
}

.example__description {
  font-family: "Arial", sans-serif;
  .main-text(14px; 18px);
  color: var(--basic-dark-grey);
  margin-bottom: 25px;
  padding-right: 1px;
  z-index: 10;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
    .main-text(16px; 24px);
    padding-right: 10px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    margin-bottom: 69px;
    margin-right: 292px;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    justify-content: left;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    justify-content: left;
    margin-bottom: 101px;
  }
}

.example__item-list {
  list-style: none;
  position: relative;
  width: 124px;
  text-align: center;
  z-index: 1;

  @media (min-width: @tablet-width) {
    width: 162px;
    margin-right: 42px;
    margin-bottom: 55px;
  }
}

.example__item-list-border {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  fill: var(--basic-border-light-grey);
  width: 124px;
  height: 71px;

  @media (min-width: @tablet-width) {
    top: -45px;
    width: 162px;
    height: 177px;
  }
}

.example__item-value {
  .main-text(24px; 24px);
  text-transform: uppercase;
  margin: 15px auto 15px auto;

  @media (min-width: @tablet-width) {
    margin: 16px auto 16px auto;
    .main-text(30px; 37px);
  }
}

.example__item-comment {
  font-family: "Arial", sans-serif;
  .main-text(12px; 12px);
  color: var(--basic-dark-grey);
  position: absolute;
  max-width: 77px;
  text-align: center;
  top: 46px;
  left: 22px;
  background-color: inherit;
  z-index: 2;

  @media (min-width: @tablet-width) {
    .main-text(14px; 14px);
    max-width: 143px;
    top: 63px;
    left: 22px;
  }
}

.example__total-price {
  .main-text(14px; 20px);
  text-transform: uppercase;
  margin-top: 38px;
  text-align: center;
  z-index: 10;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 261px;
    right: 0;
    width: 174px;
    text-align: right;
    .main-text(20px; 28px);
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 460px;
    left: 0;
    width: 327px; /*проверить*/
    text-align: left;
  }
}

.example__total-price--position {
  @media (min-width: @desktop-width) {
    position: absolute;
    top: 4px;
    left: 239px;
    width: 90px;
    height: 20px;
    .main-text(20px; 20px);
    text-transform: uppercase;
  }
}

.example__slider-toggle {
  position: relative;
  display: flex;
  z-index: 10;
  margin: 34px auto;
  justify-content: space-between;
  width: 228px;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    width: 570px;
    margin: 0 auto;
    padding-bottom: 69px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 0 auto;
  }
}

.example__slider-toggle-text {
  .main-text(16px; 20px);
  text-transform: uppercase;
  z-index: 10;
  padding: 0;

  @media (min-width: @tablet-width) {
    .main-text(20px; 20px);
  }
}

.example__slider-toggle-text--underline {
  padding: 0;
  height: min-content;
  padding-bottom: 5px;
  border-bottom: 1px dotted var(--basic-border-light-grey);

  @media (min-width: @tablet-width) {
    padding-top: 9px;
  }

  &:hover {
    border-bottom: 1px solid var(--basic-border-light-grey);
  }

  &:active {
    border-bottom: none;
  }
}

.slider__slider-items {
  height: 215px;
  padding-top: 23px;

  @media (min-width: @desktop-width) {
    height: 0;
  }
}

.example__slider-image {
  height: 232px;

  @media (min-width: @tablet-width) {
    height: 519px;
    padding-left: 15px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    height: 493px;
    bottom: 52px;
    overflow: hidden;
  }
}

.example__slider-toggle-range {
  display: none;

  @media (min-width: @tablet-width) {
    position: relative;
    bottom: -19px;
    left: 3px;
    display: block;
    width: 428px;
    height: 6px;
    border-radius: 6px;
    background-color: var(--basic-border-light-grey);
  }
}
